body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.comenzar{
	background: white;
	width: 400px;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	font-family: 'calibri';
	color: black;
}
.comenzar h2{
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
	color: black;
}
.comenzar .botons {
	width: 100%;
	background: lightgrey;
	padding: 5px;
}
