body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.form-register{
	background: white;
	width: 400px;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	font-family: 'calibri';
	color: gray;
	text-align: left;
	font-size: 10px;

}


.form-register img{
	display: flex;
	justify-content: left;
	align-items: center;
	align-content: center;
	height: 60hv;
	margin-left: auto;
	margin-right: auto;
	border-image-width: 50%;
	border:solid lightgrey;
}

